.container {
            background: #ecf0f1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        #box {
            height: 300px;
            width: 300px;
            border-radius: 50%;
            background: linear-gradient(to right,#945ef3,#9cebff);
            display: flex;
            justify-content: center;
            align-items: flex-end;
            box-shadow: 4px 4px 12px rgb(110, 110, 110);
        }
        .color{
            margin: 24px;
            padding: 10px;
        }
        input{
            height: 50px;
            width: 50px;
            border: none;
            cursor: pointer;
        }
        input::-webkit-color-swatch{
            border-radius: 50%;
            border: 2px solid rgb(120, 120, 120);
        }   